button {
    border: none;
    /* background-color: rgb(80, 60, 209); */
    background-color: rgb(66, 133, 244);
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
  }
  
  button:hover {
    background-color: rgb(61, 43, 184);
  }
  
  .equals {
    grid-column: 3 / 5;
    background-color: rgb(230, 151, 36, 1);
  }
  
  .equals:hover {
    background-color: rgb(228, 39, 15);
  }